table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ff0000;
  padding: 8px;
}

tr:hover {
  background-color: #919191;
}

.selected {
  background-color: #405b78;
  color: white;
}